.ipg_settings .ipg_row{margin-top:.5rem;}
.ipg_settings .ipg_label{width:7.5rem;opacity:.85;}
.ipg_settings .ipg_label2{margin-bottom:.25rem;opacity:.85;}
.ipg_settings .ipg_hint{margin-left:.5rem;}
.ipg_settings .gap1{gap:.5rem;}
.ipg_settings .ipg_hr{margin:.75rem 0;opacity:.25;}
